<template>
  <v-chip
      v-if="flavor"
      :class="['flavors-chip', ...classNames]"
      :color="flavor.color">
    {{flavor.title}}
  </v-chip>
</template>

<script>
export default {
  name: "FlavorChip",
  data() {
    return {
      flavor: null,
    }
  },
  props: {
    flavorId: Number,
    classNames: {
      type: Array,
      default: function() {return []},
    }
  },
  created() {
    this.flavor = this.$store.getters['flavors/get_flavor'](this.flavorId)
  }
}
</script>

<style lang="scss" scoped>
  .flavors-chip {
    padding: 10px 20px;
  }
</style>