<template>
  <div class="tobacco-list">
    <v-col class="tobacco-list__item" v-for="tobacco in products" :key="tobacco.id">
      <TobaccoCard :tobacco="tobacco" />
    </v-col>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import TobaccoCard from "@/components/TobaccoCard";

export default {
  name: "SnuffListPage",
  components: {
    TobaccoCard,
  },
  computed: mapState({
    products: state => state.products.all,
  }),
  created() {
    this.$store.dispatch('products/getAllProducts');
  }
}
</script>

<style lang="scss" scoped>
  .tobacco-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      max-width: 300px;
    }
  }
</style>