<template>
  <v-card :class="['tobacco-card', ...classNames]">
    <v-img
        contain
        lazy-src="https://htreviews.org/wp-content/uploads/2020/04/420x597_baikalskiy_crush_preview_.jpg"
        src="https://htreviews.org/wp-content/uploads/2020/04/420x597_baikalskiy_crush_preview_.jpg"
    />
    <v-card-title class="tobacco-card__title">{{tobacco.title}}</v-card-title>
    <v-card-subtitle class="tobacco-card__producer" align="left">DarkSide</v-card-subtitle>
    <div class="tobacco-card__flavors" v-if="flavorsChips && flavorsChips.length > 0">
      <div class="tobacco-card__flavors-item" v-for="flavorId in tobacco.flavors" :key="flavorId">
        <FlavorChip :class-names="['tobacco-card__flavors-item']" :flavorId="flavorId"/>
      </div>
    </div>
    <div class="tobacco-card__rate-list">
      <div class="tobacco-card__rate-item">
        <div class="tobacco-card__rate-title">Вкус</div>
        <v-rating class="tobacco-card__rate" length="5"  size="18" :value="tobacco.strengthRate" />
      </div>
      <div class="tobacco-card__rate-item">
        <div class="tobacco-card__rate-title">Крепость</div>
        <v-rating class="tobacco-card__rate" length="5"  size="18" :value="tobacco.flavorRate" />
      </div>
    </div>
    <v-card-text>{{tobacco.description}}</v-card-text>
  </v-card>
</template>

<script>

import FlavorChip from "@/components/FlavorChip";

export default {
  name: "TobaccoCard",
  components: {
    FlavorChip
  },
  props: {
    tobacco: Object,
    classNames: {
      type: Array,
      default: function() {return []},
    }
  },
  computed: {
    flavorsChips() {
      const flavorsChips = this.$store.getters["flavors/flavors"];
      console.log(flavorsChips);
      return flavorsChips;
    },
  },
  beforeCreate() {
    this.$store.dispatch('flavors/GET_FLAVORS');

    console.log(this.flavors);
  }
}
</script>

<style lang="scss" scoped>
.tobacco-card {
  &__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  &__producer {

  }
  &__rate-list {
    margin-top: 16px;
    padding: 0 16px;
  }
  &__rate-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__flavors {
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      margin: 2px 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
</style>