<template>
  <div id="app">
    <v-app>
      <v-system-bar>System Header</v-system-bar>
      <v-app-bar class="header">
        <v-container>
          <v-row class="main-nav">
            <v-col>
              <router-link to="/putSnuff" class="main-nav__link">Положить</router-link>
            </v-col>
            <v-col>
              <router-link  to="/snuffList" class="main-nav__link">Посмотреть</router-link>
            </v-col>
          </v-row>
        </v-container>
      </v-app-bar>
      <v-main>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-main>
      <v-footer>Footer</v-footer>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
}
</script>

<style>

.header {
  flex: none !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
